/* >>>>> Worked on with Brian Taveras <<<<<<< */

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
  }

button {
    cursor: pointer;
}

  #display {
    width: 500px;
    height: 779px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#screen, #player {
    width: 100%;    
}

#screen {
    display: flex;
    flex-direction: column;
    height: 350px;
    background-color: white;
    color: black;
}

#top-heading {
    text-align: center;
    font-weight: bold;
    position: relative;
    padding: 10px;
    border-bottom: 2px solid black;
    box-sizing: border-box;
    margin: 0;
}

.player-info {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 60px;
}

.player, .computer {
    display: flex;
    align-items: left;
    flex-direction: column;
    align-content: flex-start;
    margin: 4px 0;
}

.text {
    margin: 1px 0;
}

.buttons {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
    gap: 40px;
}

.text-output {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 120px;
    width: auto;
    margin: 0px 30px;
    border: 1px solid black;
    box-sizing: border-box;
}

#output {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    text-align: center;
}

.temp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: auto;
    gap: 20px;
}

#start-button {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    background-color: #00FF7F;
    width: 100px;
    justify-content: center;
    height: 35px;
    align-items: center;
    border-radius: 50%;
}

#barracks-display {
    height: 409px;
    background-color: black;
    color: white;

    display: flex;
    flex-direction: row;
}

.barracks-info {
    display: flex;
    height: calc(100% - 40px);
    width: 220px;
    justify-content: flex-start;
    margin: 20px auto;
    padding: 5px;
    box-sizing: border-box;
    flex-direction: column;
}

.barracks-heading {
    display: block;
    justify-content: center;
    align-self: start;
    margin: 0 auto;
    border-bottom: 2px solid white;
}

.peon-info {
    margin: 5px auto;
    text-align: center;
}
