body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
  }

#display {
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#screen, #player {
    width: 100%;    
}

#screen {
    height: 50%;
    background-color: white;
    color: black;
}

#player {
    height: 35%;
    background-color: black;
    color: white;
}

header {
    text-align: center;
    font-weight: bold;
    position: relative;
    padding: 10px;
    border-bottom: 2px solid black;
    box-sizing: border-box;
}
